@charset "utf-8";

/*selectores de etiqueta*/
body{
	padding: 5px; /*márgenes*/
	background-color: #40EAB1; /*azul*/
	font-family: Arial;
}

header{
	text-shadow: red 1.5px 1.5px; /*pongo sombra roja al texto*/
}

h1{
	background-color: #11A030;
	color:yellow;
	border: 10px solid blue; /*pongo un borde ancho rojo*/
	border-radius: 15px; /*redondeo las esquinas*/
	text-align: center; /*centro el texto*/
}
table{
	text-align: center;
	font-weight: bold;
	background-color: #11A030;
	width: 25%;
	height: 25%;
	margin: auto;
	border:2px blue dashed; /*borde rojo con guiones*/
}
p{ 
	color: #19752D; 
	font-family: Verdana;
	text-decoration: underline;

}

div{
	color:green;
	font-weight: bold;
	margin: auto;
}

/*selectores de tipo id #*/

#nota_pie{
	clear: both;
	font: 0.8em Georgia;
	color: #665; /*gris*/
	text-align: right;
}

#boton{
	background-color: white;
}
#resetea{
	background-color: white;
}
/*selectores de tipo clase @*/
